#!/bin/bash
# Extract from: https://github.com/rancher-sandbox/cOS-toolkit/blob/master/.envrc

cos-build() {
 if [[ -z "$(docker images | grep cos-builder)" ]]; then
    docker build -t cos-builder .
 fi

docker run \
 --privileged \
 -ti --rm \
 -v /var/run/docker.sock:/var/run/docker.sock \
 -v $PWD:/cOS \
 cos-builder
}
